<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.hospital.mybatis.model.Department" alias="Department"/>
        <typeAlias type="com.example.hospital.mybatis.model.DepartmentExample" alias="DepartmentExample"/>

        <typeAlias type="com.example.hospital.mybatis.model.AssignedPatients" alias="AssignedPatients"/>
        <typeAlias type="com.example.hospital.mybatis.model.AssignedPatientsExample" alias="AssignedPatientsExample"/>

        <typeAlias type="com.example.hospital.mybatis.model.Patient" alias="Patient"/>
        <typeAlias type="com.example.hospital.mybatis.model.PatientExample" alias="PatientExample"/>

        <typeAlias type="com.example.hospital.mybatis.model.Specialist" alias="Specialist"/>
        <typeAlias type="com.example.hospital.mybatis.model.SpecialistExample" alias="SpecialistExample"/>

    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="HospitalDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/SpecialistMapper.xml"/>
        <mapper resource="mybatis.xml/PatientMapper.xml"/>
        <mapper resource="mybatis.xml/AssignedPatientsMapper.xml"/>
        <mapper resource="mybatis.xml/DepartmentMapper.xml"/>
    </mappers>
</configuration>
